@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h1>Home</h1>
<a asp-controller="mvc" asp-action="index">Link to Index</a>
<br/>

<a asp-controller="mvc" asp-action="testy">Link to testy</a>
<br />
<a asp-controller="mvc" asp-action="yritää">Link to yritää</a>

<br />
<a asp-controller="mvc" asp-action="listall">Link to products</a>






