@model List<TimeTemp>



<h2>Prognos för @DateTime.Now.Date</h2>

<table class="table">
    <thead>
        <tr>
                    <th>
                        Tid
                    </th>
                    <th>
                       Temperatur
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Temp)
                        </td>

        </tr>
        }
        </tbody>
</table>