@model ProductListVm

<h1>Product Index</h1>

<form asp-action="getbyid" method="get">
    <select name="id" asp-items="Model.AllProducts">
      
    </select>
    <button type="submit">OK!!</button>
</form>

<form method="post">
    <label asp-for="Product.Name">Namn</label>
    <input asp-for="Product.Name"/>
    <label asp-for="Product.Beskrivning">Beskrivning</label>
    <input asp-for="Product.Beskrivning"/>


    <button type="submit">Ok</button>
</form>
