@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h1> Welcome to the Pokédex</h1>

<a asp-controller="pokemon" asp-action="testy">Link to testy</a>
</br>
<a asp-controller="pokemon" asp-action="listall">Pokémons</a>


