@model Mvc02.Models.ViewModels.ContactUsVm

<h2>Thank you!</h2>
</br>
            
<p>Thanks <strong>@Model.Name</strong> for subscribing!</p>
</br>
<p>We'll send a newsletter to your address <strong>@Model.Email</strong> every month.</p>


