
@using Miniprojekt01.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Pokemon
<h1>V</h1>

<p>@Model.Id</p>
<p>@Model.Name</p>
<p>@Model.PokemonType</p>
<p><img src="/img/@Model.ImageName" /></p>